# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Temporary files
*.tmp
*.bak
*.old
*.orig

# Secrets and environment variables
.env
.env.*

# Other
*.sqlite3